<section class="panel  important">
    <div class="row">
        <div class="col-md-4"><h5 class="p-3">Select Product to view Intentory history </h5></div>
        <div class="col-md-5">
                <div class="box">
                        <select>
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
        </div>
        <div class="col-md-3">Selected: </div>
    </div>
</section>
