<section class="panel  important">
 

  <div class="row">
    <div class="col-md-6">
      <div>
       <h2>Auction products</h2>
      </div>
    </div>
    <div class="col-md-6">



      <div class="wrap">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="What product are you looking for?" name="search"
            [(ngModel)]="filter">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

    </div>
  </div>


  <table class="rwd-table table-responsive">
    <tbody>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Discount Price</th>
        <th>Approved</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Is up forsale</th>
        <th>Is up for auction</th>
        <th>Date added</th>
        <th>Settings</th>
        <th>Edit</th>
      </tr>
      <!-- <tr *ngFor="let pro of products | filter:filter; let i = index "> -->
      <tr *ngFor="let pro of products; let i = index ">
        <td>{{pro?.id}}</td>
        <td>{{pro?.productId.name }}</td>
        <td>{{pro?.productId.price}}</td>
        <td>{{pro?.productId.saleDiscountPrice}}</td>
        <td>{{pro?.approved}}</td>
        <td>{{pro?.productId.quantity}}</td>
        <td>{{pro?.productId.categoryId.name}}</td>
        <td>{{pro?.productId.isUpforsale}}</td>
        <td>{{pro?.productId.isUpforauction}}</td>
        <td>{{pro?.productId.dateAdded | date:'medium'}}</td>
        <td>
          <a class="btn btn-warning" (click)="productSettings(pro)">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
        </td>
        <td>
          <a class="btn btn-success" (click)="editProduct(pro)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        </td>

      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li  [ngClass]="first?'page-item disabled':'page-item'"  ><a class="page-link" href="#" [ngDisabled]="first" (click)="goPrevious($event)">Previous</a></li>
        <li class="page-item" *ngFor="let p of totalPages; let i = index"><a class="page-link" (click)="gotoPage(i,$event)" href="#">{{i+1}}</a></li>
       
        <li  [ngClass]="last?'page-item disabled':'page-item'"><a class="page-link" href="#" (click)="goNext($event)" [disable]="!last">Next</a></li>
      </ul>
      Page {{pageNumber+1}} of {{totalPages.length}} , total products {{totalElements}}
    </nav>
</section>



<!-- Modal -->
<app-product-dialog [product]="product"></app-product-dialog>
