<!-- <div class="top-menu">
menue
</div> -->
<nav class="navbar">
  <!--brand image-->
  <a href="#" class="brand">
    <img src="https://image.flaticon.com/icons/svg/753/753354.svg" alt="logo">
  </a>
  <!--toggler-->
  <button class="toggler">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>

  <div class="nav-list-container">
    <ul class="nav-list">
      <li><a href="#">home</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </div>
</nav>
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up "><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <form [formGroup]='form' (ngSubmit)="login()">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" formControlName="username" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" formControlName="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div>
          <div class="group">
            <div class="alert alert-danger" *ngIf="invalid" role="alert">
              {{msg}}
            </div>
            <div class="alert alert-success" *ngIf="success" role="alert">
              {{msg}}
            </div>
            <input type="submit" [disabled]="form.invalid || btnState" class="button" value="Sign In">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>

        </form>

      </div>
      <div class="sign-up-htm">

        <form [formGroup]='signupForm' (ngSubmit)="signup()">
          <div class="group">
            <label for="email" class="label">Email Address</label>
            <input id="email" formControlName="email" type="email" class="input">
          </div>
          <div class="group">
            <label for="firstname" class="label">First Name</label>
            <input id="firstname" formControlName="firstname" type="text" class="input">
          </div>
          <div class="group">
            <label for="lastname" class="label">Last Name</label>
            <input id="lastname" formControlName="lastname" type="text" class="input">
          </div>
          <div class="group">
            <label for="username" class="label">Username</label>
            <input id="username" formControlName="username" type="text" class="input">
          </div>
          <div class="group">
            <label for="phone" class="label">Phone Number</label>
            <input id="phone" formControlName="phone" type="tel" class="input">
          </div>
          <div class="group">
            <label for="password" class="label">Password</label>
            <input id="password" formControlName="password" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="confirmPass" class="label">Repeat Password</label>
            <input id="confirmPass" formControlName="confirmPass" type="password" class="input" data-type="password">
            <p style="color:#931212" *ngIf="signupForm.hasError('notSame')">
              Passwords do not match
            </p>
          </div>
          <div class="group">
            <input [disabled]="signupForm.invalid || btnState" type="submit" class="button" value="Sign Up">
            <div class="alert alert-danger" *ngIf="invalid" role="alert">
              {{msg}}
            </div>
            <div class="alert alert-success" *ngIf="success" role="alert">
              {{msg}}
            </div>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</label>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
