<!-- new -->
<header role="banner">
  <h1>Mall 181 Admin Dashboard</h1>
  <ul class="utilities">
    <li class="users"><a href="#">My Account</a></li>
    <li class="logout warn"><button (click)="loggout()" class="btn btn-link btn-warning">Log Out</button></li>
  </ul>
</header>

<nav role="navigation">
  <div class="scrollbar-sidebar">
    <ul class="main">
      <li class="">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/admin">
          <i class="fa fa-home"></i>
          Dashboard
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="categories">
          <i class="fa fa-bars"></i>
          Categories
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="sub-categories">
          <i class="fa fa-tasks"></i>
          Sub categories
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="products">
          <i class="fa fa-database"></i>
          Products
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="products-on-sale">
          <i class="fa fa-exchange"></i>
          Products on sale
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="purchased-products">
          <i class="fa fa-shopping-bag"></i>
          Purchased products
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="auction-products">
          <i class="fa fa-clone"></i>
          Auction Products
        </a>
      </li>
      <!-- <li class="">
        <a routerLinkActive="active" routerLink="approved-live-auction">
          <i class="fa fa-check"></i>
          Approved live auction
        </a>
      </li> -->
      <li class="">
        <a routerLinkActive="active" routerLink="user-bids">
          <i class="fa fa-users"></i>
          User bids
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="user-won-bids">
          <i class="fa fa-trophy"></i>
          User won bids
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="userbids-cash-request">
          <i class="fa fa-money"></i>
          Users cash request
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="merchants">
          <i class="fa fa-business-time"></i>
          Merchants
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="logistics">
          <i class="fa fa-chart-bar"></i>
          logistics
        </a>
      </li>
      <li class="">
        <a routerLinkActive="active" routerLink="tickets">
          <i class="fa fa-ticket"></i>
          Tickets
        </a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">
  <router-outlet></router-outlet>
</main>
<!-- <footer role="contentinfo">Easy Admin Style Barric Rebirth System</footer> -->
