<header role="banner">
    <h1>Mall 1811 Merchant Dashboard</h1>
    <ul class="utilities">
      <li class="users"><a href="#">My Account</a></li>
      <li class="logout warn"><a href="">Log Out</a></li>
    </ul>
  </header>
  
  <nav role="navigation">
    <ul class="main">
        <li routerLinkActive="active"><a   routerLink="home"  routerLinkActive="active">Dashboard</a></li>
      <li routerLinkActive="active"><a   routerLink="product"  routerLinkActive="active">Products</a></li>
      <li routerLinkActive="active"><a   routerLink="product-inventory"  routerLinkActive="active">Products Inventory</a></li>
      <li routerLinkActive="active"><a   routerLink="product-onsale"  routerLinkActive="active">Products on sale</a></li>
      <li routerLinkActive="active"><a   routerLink="product-auction"  routerLinkActive="active">Products Auction</a></li>

      <li routerLinkActive="active"><a   routerLink="product-bids"  routerLinkActive="active">My products bids</a></li>
      <li routerLinkActive="active"><a   routerLink="product-won-bids"  routerLinkActive="active">Product won bids</a></li>
      <li routerLinkActive="active"><a   routerLink="product-order"  routerLinkActive="active">Products order</a></li>
      <li routerLinkActive="active"><a   routerLink="completed-order"  routerLinkActive="active">Completed order</a></li>
      <li routerLinkActive="active"><a   routerLink="tickets"  routerLinkActive="active"><i class="fa fa-alarm-clock"></i>Tickets</a></li>
      <li routerLinkActive="active"><a   routerLink="profile"  routerLinkActive="active">Profile</a></li>
      <li routerLinkActive="active"><a   routerLink="/auctions/closed"  routerLinkActive="active">Loggout</a></li>
    </ul>
  </nav>
  
  <main role="main">
        
                <router-outlet></router-outlet>
 
  
  </main>
  <footer role="contentinfo">Easy Admin Style Barric Rebirth System</footer>