<div>
    <section class="panel important">
        <h2 class="text-align-center">Configure <i>{{existingProduct.name}} </i> </h2>

    </section>


    <div class="row">
        <div class="col-md-6">
            <section class="panel important">
                <h5 class="heads">Setup for sale or/and auction</h5>
                <div class="panel">
                    <form [formGroup]='form' (ngSubmit)="updateSaleAuction()">
 
                        <div class="custom-control custom-switch">
                            <input type="checkbox" formControlName="isUpforSale" class="custom-control-input" id="isUpforSale">
                            <label class="custom-control-label" for="isUpforSale">Up for Sale</label>
                        </div>

                        <div class="custom-control custom-switch">
                                <input type="checkbox" formControlName="isUpforAuction" class="custom-control-input" id="isUpforAuction">
                                <label class="custom-control-label" for="isUpforAuction">Up for Auction</label>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-md-6">
                <section class="panel important">
                    <h5 class="heads">Update inventory (currently <b class="">{{existingProduct.quantity}}</b>)</h5>
                    <div class="panel">
                        <form [formGroup]='formInventory' (ngSubmit)="saveInventory()">
     
                            <div class="form-group">
                                <input type="number" placeholder="Qauntity" formControlName="quantity" class="form-control" id="qauntity">
                               
                            </div>
    
                            <div class="form-group">
                                    <input type="text" placeholder="Note" formControlName="note" class="form-control" id="note">
                                  
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Save changes
                                </button>
                        </form>
                    </div>
                </section>
            </div>
    </div>

    <section class="panel important">
                    <h5 class="heads">Add image for products</h5>
                 
    <div class="row">
        <div class="col-md-6">
                <div class="twothirds"> <div class="form-group mb-0">
                        
                        <div class="custom-file">
                                <span style="color:red;" *ngIf="message">{{message}}</span>
                                
                                
                          <input #file type="file" accept='image/*' class="custom-file-input" name="example-file-input-custom"
                            (change)="uploadChange(file.files)">
                          <label class="custom-file-label">Upload Image</label>
                        </div>
                       
                      </div></div>
                <div class="onethird"> <button class="btn btn-warning" (click)="addImage()">Save Image</button></div>
               
        </div>
        <div class="col-md-6"><img [src]="imgURL" height="100px" *ngIf="imgURL"></div>
    </div>
   
    </section>
</div>